<h1>Korean Love Firebase Demo</h1>
<div>
    <input type="email" name="email" [(ngModel)]="email">
    <input type="password" name="password" [(ngModel)]="password">
    <button (click)="signIn()" [disabled]="!email || !password">Sign In</button>
    <button (click)="signUp()" [disabled]="!email || !password">Sign Up</button>
    <button *ngIf="authService.user | async" (click)="signOut()">Sign Out</button>

</div>

<h2 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h2>

<div *ngIf="list.length != 0 ">
  <div *ngFor="let data of list">
    Name: {{data.name}}
    <br>
    Description: {{data.description}}
  </div>
</div>